
<div class="clearfix"></div>

{# <ul class="modalBXSlider">
    {% for photo in entity.photoGallery %}
        <li>

        </li>
    {% endfor %}
</ul> #}

{# <div class="fadelinks">
	{% for photo in entity.photoGallery %}
    	<a href="#"><img src="{{ asset('uploads/gallery/'~photo) }}" alt="{{ entity.caption }}" class="img-responsive lazy" /></a>
    {% endfor %}
</div> #}

    <div class="slider-wrapper">
        <div id="slider">
			{% for key, photo in entity.photoGallery %}
	            <div class="slide{{key}}">
	                <img src="{{ asset('uploads/gallery/'~photo) }}" alt="{{ entity.caption }}" />
	            </div>
		    {% endfor %}
        </div>
        <div id="slider-direction-nav"></div>
        <div id="slider-control-nav"></div>
    </div>